<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.1.xsd">

    <http pattern="/druid/**" security="none" />
    <http>
        <intercept-url pattern="/login" access="permitAll" />
        <intercept-url pattern="/admin**" access="hasRole('ADMIN')" />
        <intercept-url pattern="/**" access="hasRole('USER') or hasRole('ADMIN')" />
        <form-login login-page="/login" default-target-url="/" always-use-default-target="true" />
    </http>

    <authentication-manager >
        <authentication-provider user-service-ref="customUserDetailsService" />
    </authentication-manager>

    <beans:bean id="customUserDetailsService" class="com.ruby.wechat.service.impl.UserServiceImpl" />

</beans:beans>