<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="'sample/layout'">
<head>
    <title>Sample-showcase</title>
    <style type="text/css">
        .signinForm {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 12px;
        }
        .help-block {
            color: #A94442;
        }
    </style>
</head>
<body>
    <div data-layout-fragment="main">
        <form method="post" data-th-action="@{/signin}" th:object="${signinForm}" class="signinForm">
            <div style="margin-bottom: 8px">
                <th:block th:if="${#fields.hasErrors('${signinForm.*}')}">
                    <div th:replace="fragments/alert :: alert (type='danger', message='表单填写错误')">Alert</div>
                </th:block>
            </div>

            <fieldset>
                <div>
                    <label>username:</label>
                    <input type="text" name="username" placeholder="username" th:value="*{username}">
                    <span class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect username</span>
                </div>
                <div>
                    <label>password:</label>
                    <input type="password" name="password" placeholder="password" th:value="*{password}">
                    <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</span>
                </div>
                <div>
                    <input type="submit" value="signin">
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>